n8n/01_agents/tele-meeting-agent.json
{
  "name": "Telegram-meeting-agent-bot-workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4a37df36-1817-44b6-b039-a3fd11005f0b",
      "name": "Telegram Trigger",
      "webhookId": "dc9f0182-d88b-4a32-b03a-8df2f887b846",
      "credentials": {
        "telegramApi": {
          "id": "bCmjuzgs7ZGrsG5w",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Role\n\nYou are a helpful AI assistant that acts as an email automation agent.\n\nTask\n\nYour task is to draft and send emails on behalf of the user when requested.\n\nRules\n\nWhenever you send an email, you must first determine the recipient's email address by using the \"Get Contacts\" tool.\nRetrieving the email address via this tool is mandatory and may not be skipped  under any circumstances.\nYou may only proceed with sending an email after the correct email address has been successfully obtained.\nWhen using the Google Calendar tool, always provide 'Start' and 'End' times in ISO 8601 format (e.g., YYYY-MM-DDTHH:mm:ssZ). Use the current execution time as a reference.\nYou can get email address from google sheet tool's Email column.\n\nAll outgoing emails must end with the following sign-off exactly as written:\nBest regards,\nShi\n\nContext\n\nThe current date and time is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ea12d673-0734-4287-acbf-89d419a1a64d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -32,
        240
      ],
      "id": "72391795-3553-4f33-bf52-e79a9ab8ab69",
      "name": "GroqAI",
      "credentials": {
        "groqApi": {
          "id": "hOPTq7aHoJDRWiqa",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "list",
          "cachedResultName": "contact-n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SPREADSHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        256,
        240
      ],
      "id": "632d683c-0644-4bdf-9489-5037b51e8830",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5PsSVp3EWvoIjtf5",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "EMAIL_ADDRESS",
          "mode": "list",
          "cachedResultName": "EMAIL_ADDRESS"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        384,
        240
      ],
      "id": "3468665b-3241-4d40-9002-550b7f51eba6",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0s1eUswmdtfAlHpO",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        528,
        224
      ],
      "id": "5330ca91-f8f9-46dc-b4c6-67a2b7f31856",
      "name": "Send a message in Gmail",
      "webhookId": "54ba0046-f1d3-4544-8fb1-bd88346ce5b5",
      "credentials": {
        "gmailOAuth2": {
          "id": "KHQFxA2Y1YNwc2UG",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        256
      ],
      "id": "d2d03426-2108-4342-9421-3c75208a1696",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "86d93f0b-ddef-4ada-a7a0-a6560f4f42d5",
      "name": "Send a text message",
      "webhookId": "fa1fc028-36f6-45d6-bc45-4aa5270ad626",
      "credentials": {
        "telegramApi": {
          "id": "bCmjuzgs7ZGrsG5w",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GroqAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5f0211b2-efa1-47b0-a10e-1d2325a90ce7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "395a6122e9204cd2d523e3efbbd99d8dc472ee56b5ac1c49020c994adb29acdc"
  },
  "id": "AGPUEDxR7gcNvQyv",
  "tags": []
}